<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WebTroopers</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="/styles/authpages.css">
</head>
<body>
    <%- body %>
    <script src="/javascripts/formValidation.js"></script>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/authpages.js"></script>
</body>
</html>
