<% layout('layouts/boilerplate')%>
<div class="container">
    <h1>About Us</h1>
    Welcome to Web Troopers, number one source for all mobiles, laptops and watches. We're dedicated to give you the very best collection of mobiles, laptops and watches, with a focus on quality, dependability, customer service and uniqueness.
Founded in 2021 by a team of four members, Web Troopers has come a long way from its beginning. When we first started out, our passion for helping other parents be more eco-friendly, providing the best equipment for their fellow mates drove us to the action, ie: do intense research, work easily, and gave us the impetus to turn hard work and inspiration into to a booming online store. We now serve customers all over places India, US and Austian areas, and are thrilled to be a part of the adjective, ie: quirky, eco-friendly, fair trade wing of the fashion, new technology and watches.
<br><br>
We hope you enjoy our products as much as we enjoy offering them to you. If you have any questions or comments, please don't hesitate to contact us.
<br><br>
Sincerely,
Web Troopers
</div>