<% layout('layouts/boilerplate')%>
<div class="container">
    <h1>About Us</h1>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam totam itaque id explicabo, voluptatum corrupti, minus et accusamus pariatur rerum quod nisi necessitatibus suscipit. Veniam nostrum non architecto quae magni.
    Quos odit iste fuga repellat, ratione rem adipisci? Maiores ullam voluptate cupiditate ratione nihil magni. Eos ad exercitationem, cumque similique blanditiis odit. Autem quis inventore reprehenderit eaque consectetur similique fugit!
    Ut illo architecto amet iste enim consequuntur in rem nostrum esse fugit consequatur deleniti, minima, doloribus recusandae distinctio tempore earum expedita, sit veniam ab voluptas quae? Corrupti vero eligendi at?
    Unde sit id maiores velit error adipisci! Accusantium commodi vitae, saepe et dolor deserunt molestiae voluptatem soluta error ipsam facere provident eius sapiente consequuntur sint laborum voluptatibus mollitia repudiandae doloremque?
    Voluptatum illum dolore ducimus omnis est error doloremque quaerat impedit a, quo nesciunt nam doloribus inventore perspiciatis magni rerum officia dolorem, harum vitae sunt natus repellat recusandae adipisci placeat. Nihil.
    Qui facere, eius, libero minima explicabo iure aspernatur dolor voluptatum pariatur magni labore cum commodi velit! Facere perferendis repudiandae nobis impedit quasi sint, aliquid eius at cupiditate qui nam tenetur.
    Adipisci cupiditate quos quibusdam, dicta asperiores libero facere, saepe ipsam molestiae, amet eligendi vero officia ea quisquam placeat cum cumque aliquam tempora temporibus distinctio. Porro ea nulla minus asperiores in?
</div>