<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">

<div class="container">
    <div class="d-flex justify-content-center">
        <div class="card mr-5">
            <div class="text-white card-header bg-dark"><strong><h3>Naman Kumar</h3></strong></div>
            <div class="card-body">
              <h5 class="card-title">Registration Number: 2019CA51</h5>
              <h5 class="card-title">Mobile Number: 8604848731</h5>
              <h5 class="mb-3 card-title">Email: <a style="text-decoration: none;" href="naman.mnnit.1922@gmail.com">naman.mnnit.1922@gmail.com</a></h5>
              <a href="#" class="btn btn-danger zmdi zmdi-google"></a>
              <a href="https://github.com/namank63" class="btn btn-dark zmdi zmdi-github"></a>
              <a href="http://www.linkedin.com/in/namank63" class="btn btn-primary zmdi zmdi-linkedin"></a>
            </div>
          </div>
          <div class="card ml-5">
            <div class="text-white card-header bg-dark"><strong><h3>Pooja Yadav</h3></strong></div>
            <div class="card-body">
              <h5 class="card-title">Registration Number: 2019CA23</h5>
              <h5 class="card-title">Mobile Number: 8574408023</h5>
              <h5 class="mb-3 card-title">Email: <a style="text-decoration: none;" href="pooja.mnnit.2020@gmail.com">pooja.mnnit.2020@gmail.com</a></h5>
              <a href="#" class="btn btn-danger zmdi zmdi-google"></a>
              <a href="https://github.com/poojayadav17" class="btn btn-dark zmdi zmdi-github"></a>
              <a href="https://www.linkedin.com/in/poojayadav17" class="btn btn-primary zmdi zmdi-linkedin"></a>
            </div>
          </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="card mt-5 mr-5">
            <div class="text-white card-header bg-dark"><strong><h3>Kumari Simran</h3></strong></div>
            <div class="card-body">
              <h5 class="card-title">Registration Number: 2019CA15</h5>
              <h5 class="card-title">Mobile Number: 7932304910</h5>
              <h5 class="mb-3 card-title">Email: <a style="text-decoration: none;" href="simran.mnnit.2020@gmail.com">simran.mnnit.2020@gmail.com</a></h5>
              <a href="#" class="btn btn-danger zmdi zmdi-google"></a>
              <a href="https://github.com/simran045" class="btn btn-dark zmdi zmdi-github"></a>
              <a href="https://www.linkedin.com/in/the-simran" class="btn btn-primary zmdi zmdi-linkedin"></a>
            </div>
          </div>
          <div class="card mt-5 ml-5">
            <div class="text-white card-header bg-dark"><strong><h3>Amit Kesharwani</h3></strong></div>
            <div class="card-body">
              <h5 class="card-title">Registration Number: 2019CA31</h5>
              <h5 class="card-title">Mobile Number: 9161895483</h5>
              <h5 class="mb-3 card-title">Email: <a style="text-decoration: none;" href="amitkesharwani929@gmail.com">amitkesharwani929@gmail.com</a></h5>
              <a href="#" class="btn btn-danger zmdi zmdi-google"></a>
              <a href="https://github.com/Amit-Mnnit929" class="btn btn-dark zmdi zmdi-github"></a>
              <a href="https://www.linkedin.com/in/amit-kesharwani-13a73b12a" class="btn btn-primary zmdi zmdi-linkedin"></a>
            </div>
          </div>
    </div>
</div>