<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">

<div class="my-container">
  <form id="form" class="my-form" action="#">
    <h2 id="form-type">Write us..</h2>
      <div class="my-form-control">
          <label for="email">Your Email</label>
          <input type="email" name="email" id="email">
      </div>
      <div class="my-form-control">
          <label for="message">Message</label>
          <textarea name="message" rows="10" cols="40"></textarea>
      </div>
      <button id="submit">Send</button>
  </form>
</div>