<% layout('layouts/boilerplate')%>
<main role="main">
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">WebTroopers</h1>
        <p class="lead text-muted">ECommerce Project Home Page</p>
        <p>
          <a href="#" class="btn btn-primary my-2">All Products</a>
          <a href="#" class="btn btn-secondary my-2">Search Product</a>
        </p>
      </div>
    </section>
    <div class="album py-5 bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="https://images.unsplash.com/photo-1496181133206-80ce9b88a853?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=751&q=80" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Apple Macbook</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
                  </div>
                  <small class="text-muted">Rs. 89,499</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="https://images.unsplash.com/photo-1595245150809-ef9436aaded6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Microsoft Surface Pro</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
                  </div>
                  <small class="text-muted">Rs. 75,990</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="https://images.unsplash.com/photo-1555680202-c86f0e12f086?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Corsair CPU cooler</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
                  </div>
                  <small class="text-muted">Rs. 13,999</small>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="https://images.unsplash.com/photo-1546027658-7aa750153465?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Android Mobile</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
                  </div>
                  <small class="text-muted">Rs. 27,000</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="https://images.unsplash.com/photo-1619037961428-e6410a7afd38?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=889&q=80" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Smartwatch</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
                  </div>
                  <small class="text-muted">Rs. 3,500</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="https://images.unsplash.com/photo-1591488320449-011701bb6704?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Graphics Card</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
                  </div>
                  <small class="text-muted">Rs. 1,13,000</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </main>



