<% layout('layouts/boilerplate')%>
<div class="my-container">
    <form id="form" class="my-form" action="/seller/login" method="POST" onSubmit="return loginFormValidation();">
        <h2 id="form-type">Login</h2>
        <div class="my-form-control">
            <label for="username"><i class="zmdi zmdi-account material-icons-name"></i> Username</label>
            <input type="text" id="username" name="username" placeholder="Enter Username">
            <small>Error message</small>
        </div>
        <div class="my-form-control">
            <label for="password"><i class="zmdi zmdi-lock"></i> Password</label>
            <input type="password" id="password" name="password" placeholder="Enter password">
            <small>Error message</small>
        </div>

        <div style="display: flex; margin-top: -15px;">
            <p class="noselect" id="gencaptcha" name="gencaptcha"></p> <button style="border: none;" id="refreshButton"><span class="zmdi zmdi-refresh"></span></button>
        </div>

        <div class="my-form-control">
            <input type="text" name="entercaptcha" id="entercaptcha" placeholder="Enter Captcha"/>
            <small>Error message</small>
        </div>

        <button id="submit">Submit</button>
    </form>
</div>