:root {
    --success-color: #2ecc71;
    --error-color: #e74c3c;
}

.my-container {
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0.3);
    width: 400px;
}

.my-form {
    padding: 30px 40px;
}

#form-type {
    text-align: center;
    margin: 0 0 20px;
}

.my-form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.my-form-control label {
    color: #777;
    display: block;
    margin-bottom: 5px;
}

.my-form-control input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14px;
}

.my-form-control input:focus {
    outline: 0;
    border-color: #777;
}

.my-form-control.success input{
    border-color: var(--success-color);
}

.my-form-control.error input{
    border-color: var(--error-color);
}

.my-form-control small {
    color: var(--error-color);
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.my-form-control.error small {
    visibility: visible;
}

#submit {
    cursor: pointer;
    background-color: #3498db;
    border: 2px solid #3498db;
    border-radius: 4px;
    color: white;
    display: block;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    width: 100%
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

#refreshButton {
    border: none;
    background: white;
    margin-left: 5px;
    margin-top: -15px;
    outline: none;
}

.ratings i {
    font-size: 16px;
    color: red;
}

.strike-text {
    color: red;
    text-decoration: line-through
}

.product-image {
    width: 100%
}

.dot {
    height: 7px;
    width: 7px;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 3px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    display: inline-block
}

.spec-1 {
    color: #938787;
    font-size: 15px
}

h5 {
    font-weight: 400
}

.para {
    font-size: 16px
}