<% layout('layouts/boilerplate')%>
<div class="container">
    <h1>New Page</h1>
    <form action="/products" method="POST">
        <label for="name">Name</label>
        <input type="text" id="name" name="name">

        <label for="price">price</label>
        <input type="number" id="price" name="price">

        <label for="description">Description</label>
        <input type="text" id="description" name="description">

        <label for="brand">Brand</label>
        <input type="text" id="brand" name="brand">

        <label for="model">Model</label>
        <input type="text" id="model" name="model">

        <label for="units">Units</label>
        <input type="number" id="units" name="units">

        <label for="image">Image</label>
        <input type="text" id="image" name="image">

        <label for="location">Location</label>
        <input type="text" id="location" name="location">

        <label for="tags">Tags (space separated)</label>
        <input type="text" id="tags" name="tags">

        <label for="category">Category</label>
        <select name="category" id="category">
            <option value="Mobile">Mobile</option>
            <option value="Laptop">Laptop</option>
            <option value="Watch">Watch</option>
        </select>
        <button>Submit</button>
    </form>
</div>